.item-detail{
    margin: 50px 55px;
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}


/* CARD DE LA INFORMACION DEL PRODUCTO */

.item-detail-container{
    margin: 10px 25px 0px 0px;
    display: grid;
    grid-template-rows: 10% 20% 15% ;
    font-family: "Pathway Gothic One", sans-serif;
    
}

.title-detail{
    font-size: 50px;
}

.text-detail{
    font-size: 20px;
}

.price-detail{
    font-size: 50px;
    font-weight: bolder;
}   




.item-count{
    display: flex;
    justify-content: center;    
    gap:20% 
}


.controls-count{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: skewX(-20deg);

}

.controls-count button{
    font-size: 18px;
    background: none;
    border: none;
    color: inherit;
    width: 50px;
    height: 50px;
}


.controls-count button:hover{
    cursor: pointer;
}


.button-add-count{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: 1px solid black;
    transform: skewX(-20deg);
    background-color: white;
}

.button-add-count button{
    font-size: 28px;
    font-family: "Pathway Gothic One", sans-serif;
    background: none;
    border: none;
}


 .button-add-count:hover{
    cursor: pointer;
    background-color: black;
    transition: .2s;
    color: white;
}



.button-end-buy{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    height: 50px;
    width: 200px;
    transform: skewX(-20deg);
}

.button-end-buy:hover{
    background-color: black;
    color: white;

}

