.navbar{
    width:100vw ;
    background-color: #979595;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brand img{
    width: 200px;
    padding-right: 10px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 70px;
}

.navbar ul li{
    justify-content: center;
    padding: 0 20px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 25px;
}
