.navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
    border-bottom: 0.5px solid rgb(212, 210, 210);
}

.brand{
    width: 25%;

}

.brand img{
    width: 200px;
}

.categories{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 50%;
}

.navbar ul li{
    padding: 0 20px 0px 0px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 25px;
}

.navbar a{
    position: relative;
    text-decoration: none;
    color: #000;

}

.categories a::after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.categories a:hover::after{
    width: 100%;
}



